.body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 20%;
}

.table-div{

  text-align: center;
  position: absolute;

}

th.mat-header-cell {
  text-align: center;
}

tr.example-element-row:hover {
background: rgb(222, 236, 251);
}

tr.example-element-row-choosed {
background: rgb(132, 176, 223);
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 300px;
}

.mat-column-created {
  max-width: 300px;
}
