<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="example-table-container">

        <table mat-table [dataSource]="data" class="example-table">
         <!-- matSort matSortActive="Date" matSortDisableClear matSortDirection="desc" -->

            <ng-container matColumnDef="Credit/Debit">
                <th mat-header-cell *matHeaderCellDef>Credit/Debit</th>
                <td mat-cell *matCellDef="let row">{{row.isCredit}}</td>
            </ng-container>

            <ng-container matColumnDef="From whom/to whom">
                <th mat-header-cell *matHeaderCellDef>From whom/to whom</th>
                <td mat-cell *matCellDef="let row" (click)="viewTransactionPartnerDetails(row.transactionPartnerAccountId)">{{row.transactionPartnerAccountId}}</td>
            </ng-container>

            <ng-container matColumnDef="Amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let row">{{row.amount}}</td>
            </ng-container>

            <ng-container matColumnDef="Balance">
                <th mat-header-cell *matHeaderCellDef>Balance</th>
                <td mat-cell *matCellDef="let row">{{row.balance}}</td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="Date">
                <th mat-header-cell *matHeaderCellDef disableClear>
                    Date
                </th>
                <td mat-cell *matCellDef="let row">{{row.date | date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
        </table>
    </div>

    <!-- <mat-paginator appStylePaginator showFirstLastButtons (page)="pageChanged($event)" [length]="resultsLength" [pageSize]="numOfRecords" showFirstLastButtons>
    </mat-paginator> -->
    <mat-paginator [length]="resultsLength"
               [pageSize]="numOfRecords"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageChanged($event)"
               aria-label="Select page">
</mat-paginator>
</div>
