<div class="card">
  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Customer Account Info</span>
  <!-- <h4 class="card-header">Login</h4> -->
  <div class="card-body">
    <ul class="list-unstyled mb-4">
      <li><h5>First Name: </h5>{{accountInfo.firstName}}</li>
      <li><h5>Last Name: </h5>{{accountInfo.lastName}}</li>
      <li><h5>openDate: </h5>{{accountInfo.openDate | date}}</li>
      <li><h5>balance: </h5>{{accountInfo.balance}}</li>
  </ul>
  </div>
</div>
