<div class="card">
  <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Customer Account Info</span>
  <!-- <h4 class="card-header">Login</h4> -->
  <div class="card-body">
    <ul class="list-unstyled mb-4">
      <li><h5>First Name: {{accountInfo.firstName}}</h5></li>
      <li><h5>Last Name: {{accountInfo.lastName}}</h5></li>
      <li><h5>OpenDate: {{accountInfo.openDate | date}}</h5></li>
      <li><h5>Balance: {{accountInfo.balance}}</h5></li>
  </ul>
  </div>
</div>
